* {
    margin: 0;
    padding: 0;
}

.bespin {
    height: 500px;
    margin: 0;
    padding: 0;
    border: 1px solid #f0f0f0;
}

.clear {
    clear: both;
}

#header {
    padding: 15px 0 15px 15px;
}

#content {
    padding: 15px 30px 0 0;
}

#main-content {
    margin-left: 175px;
    max-width: 100%;
}

#file-contents-panel {
    width: 145px;
    float: left;
    padding: 0 0 0 15px;
    font-size: 75%;
}

#file-contents-panel b {
    color: #666;
}

body {
    font-family: Helvetica, Arial, Sans-Serif;
}