.bespin {
    height: 500px;
    margin: 0;
    padding: 0;
    border: 1px solid #f0f0f0;
}

.clear {
    clear: both;
}

#ide-content {
    padding: 0;
}

#ide-main-content {
    margin-left: 245px;
    max-width: 100%;
}

#ide-file-contents-panel {
    width: 245px;
    float: left;
    padding: 0;
    font-size: 75%;
}

#ide-file-contents-panel b {
    color: #666;
}