/*#speakeasyUserMain {margin-left: 1em;}*/

#aui-message-bar {
    height:45px;
}

td .pluginDescription {
    font-size: 90%;
    color: #555;
}

#availableExtensionsTable {
    display: none;
}

tr.forkedRow td .pluginSummary {
    background: url("../../../../../../../../download/resources/com.atlassian.labs.speakeasy-plugin:images/images/arrow_045.png") no-repeat 0px 8px;
    padding-left: 22px;
}

.forkBlue {
    color: #4490cc;
}