$senderFullName ($sender) has feedback for your Speakeasy extension '$plugin.name':
$nl
---

$feedback.message

---
$nl
Extra context for this report:
$nl
#foreach ($entry in $feedback.context.entrySet())
$entry.key : $entry.value $nl
#end

To respond, simply reply to this message.