/*#speakeasy-user-main {margin-left: 1em;}*/

#aui-message-bar {
    height:45px;
}

td .plugin-description {
    font-size: 90%;
    color: #555;
}

#available-extensions-table {
    display: none;
}

tr.forked-row td .plugin-summary {
    background: url("../../../../../../../../download/resources/com.atlassian.labs.speakeasy-plugin:user/images/arrow_045.png") no-repeat 0px 8px;
    padding-left: 22px;
}

.fork-blue {
    color: #4490cc;
}

#fork-form {
    margin-top: 3em;
}