/*#speakeasy-user-main {margin-left: 1em;}*/

#aui-message-bar {
    height:44px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    position: fixed;
    width: 50%;
    right: 5%;
    top: 5%;
}

.aui-message {
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 5px 5px 5px #999;
    -o-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
    box-shadow: 5px 5px 5px #999;
}

td .plugin-description {
    font-size: 90%;
    color: #555;
}

#available-extensions-table {
    display: none;
}

tr.forked-row td .plugin-summary {
    background: url("@modulePrefix/speakeasy/user/images/arrow_045.png") no-repeat 0px 8px;
    padding-left: 22px;
}

tr.unavailable-row {
    opacity:0.50; /* firefox, opera, safari, chrome */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; /* IE 8 */
    filter:alpha(opacity=50); /* IE 4, 5, 6 and 7 */
    zoom:1;
}
tr.unavailable-row .plugin-description {
    background-color: #db7093;
    color: black;
}

.fork-blue {
    color: #4490cc;
}

#fork-form {
    margin-top: 3em;
}
