<html>
<head>
    <meta name="decorator" content="atl.admin"/>
    <title>Extension Administration</title>
</head>
<body>
<div id="sp-main">
<script type="text/javascript">
        var settings = $settings.render();
    </script>
<h1>Extension Administration</h1>
<p>
    The following settings configure who can access, enable, and author Speakeasy extensions.
</p>
<div id="aui-message-bar"></div>
<form action="#" method="post" class="aui" id="sp-form">
    <fieldset>
        <h2>Extension Visibility</h2>
        <div class="field-group">
            <label for="sp-allowadmins-edit" class="form-icon icon-required">Allow Administrators to Enable Extensions</label>
            <div class="edit">
                <input class="checkbox" type="checkbox" id="sp-allowadmins-edit" name="sp-allowadmins" title="Allow Admins to Enable" />
                <div class="description">Allow administrators to enable extensions.  Should only be checked if this application is private
                    and the entire user base is trusted.</div>
            </div>
            <div class="view">
                <div id="sp-allowadmins-view"></div>
            </div>
        </div>
        <div class="field-group" id="sp-access-groups">
            <label for="sp-access-groups-edit" class="form-icon icon-required">Access Groups</label>
            <div class="edit">
                <textarea id="sp-access-groups-edit" name="sp-access-groups" title="Access Groups" cols="50" rows="10"></textarea>
                <div class="description">Groups allowed to access Speakeasy, one per line</div>
            </div>
            <div class="view">
                <div id="sp-access-groups-view"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <h2>Extension Authoring</h2>
        <div class="field-group" id="sp-author-groups">
            <label for="sp-author-groups-edit" class="form-icon icon-required">Author Groups</label>
            <div class="edit">
                <textarea id="sp-author-groups-edit" name="sp-author-groups" title="Author Groups" cols="50" rows="10"></textarea>
                <div class="description">Groups allowed to author extensions, one per line.  For security reasons, only
                    add groups for which you trust all its users.</div>
            </div>
            <div class="view">
                <div id="sp-author-groups-view"></div>
            </div>
        </div>
    </fieldset>

    <div class="buttons-container">
        <div class="buttons">
            <input id="sp-save" class="button submit edit" type="submit" value="Save" />
            <a id="sp-edit" class="view" href="#edit">Edit</a>
        </div>
    </div>
</form>
</div>
</body>
</html>