<div id="speakeasy-user-main">
    <script type="text/javascript">
        var staticResourcesPrefix = "$staticResourcesPrefix";
        var contextPath = "$contextPath";
        var currentUser = "$user";
        var product = "$product";
    </script>

    <script type="text/x-template" title="fork-dialog">
        <p>
            This will create a fork of the extension '{pluginKey}'
        </p>
        <form id="fork-form" class="aui top-label">
            <fieldset>
                <div class="field-group">
                    <label for="fork-description">New Description</label>
                    <textarea name="fork-description" id="fork-description" cols="40" rows="5">{description}</textarea>
                    <div class="description">A few words on why you are forking</div>
                </div>
            <fieldset>
        </form>
    </script>

    <script type="text/x-template" title="available-extension-row">
        <tr data-pluginKey="{key}">
            <td headers="plugin-name"><span class="plugin-name">{name}</span><br><span class="plugin-description">{description}</span></td>
            <td headers="plugin-author"><a href="{authorUrl}">{author}</a></td>
            <td headers="plugin-version">{version}</td>
            <td headers="plugin-actions" nowrap="true">
                <a href="{binaryUrl}">Download</a>
                <a href="http://plugins.atlassian.com/{id}">Learn More</a>
            </td>
        </tr>
    </script>


<div style="margin-top: -55px; margin-left: 350px;" id="aui-message-bar"> </div>

<div class="aui-tabs horizontal-tabs" id="horizontal">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#horizontal-first"><strong>Installed Extensions</strong></a>
        </li>
        #if ($canAuthor)
        <li class="menu-item">
            <a href="#horizontal-second" id="available-extensions-tab"><strong>Available Extensions</strong></a>
        </li>
        <li class="menu-item">
            <a href="#horizontal-third" id="jsdoc-tab"><strong>CommonJS Modules</strong></a>
        </li>
        #end
    </ul>
    <div class="tabs-pane active-pane" id="horizontal-first">
        <p style="margin: 10px 0 15px 0;">
            These are the extensions installed on your server.<br />
            To use an extension, click <b>Enable</b>. <br />
            #if ($canAuthor)
            To upload a new extension, use the <b>Upload</b> form.<br />
            To create a new extension, <a id="extension-wizard-link" href="javascript:void(0)">use the wizard</a>.<br />
            To develop your own extensions, <a href="mailto:don@atlassian.com">learn more</a>.
            #end
        </p>

        #set ($topWebItems = $webInterfaceManager.getDisplayableItems("speakeasy.user-profile/top", $webInterfaceContext))
        #if (!$topWebItems.empty)
                <ul class="top-links">
                #foreach ($item in $topWebItems)
                    <li class="top-link">
                        <a href="$item.link.getDisplayableUrl($req, $webInterfaceContext)"
                            #if ($item.link.id) id="$item.link.id"#end
                            #if ($item.styleClass) class="$item.styleClass"#end
                            #if ($item.link.hasAccessKey()) accessKey="$item.link.getAccessKey($helper)"#end>
                           $item.webLabel.getDisplayableLabel($req, $webInterfaceContext)
                        </a>
                    </li>
                #end
                </ul>
            #end

        <table class="aui" id="plugins-table">
            <thead>
                <tr>
                    <th id="plugin-name">Name</th>
                    <th id="plugin-author">Author</th>
                    <th id="plugin-version">Version</th>
                    <th id="plugin-users">Users</th>
                    <th id="action">Action</th>
                </tr>
            </thead>
            <tbody id="plugins-table-body">
                #foreach ($plugin in $plugins)
                    $rowRenderer.render($plugin)
                #end
            </tbody>
        </table>

        #if ($canAuthor)
            <div style="background-color: #f0f0f0; margin: 20px; padding: 10px; border: 1px solid #bbb;">
                <form id="upload-form" action="$contextPath/rest/speakeasy/1/plugins" enctype="multipart/form-data" method="post">
                    <b>Upload New Extension:</b>
                    <label for="plugin-file">Install a new extension by uploading from your computer:</label> <input id="plugin-file" type="file" name="plugin-file" size="40">
                    <button id="submit-plugin-file">Upload</button>
                </form>
            </div>
        #end
    </div>
    #if ($canAuthor)
    <div class="tabs-pane" id="horizontal-second">
        <p style="margin: 10px 0 15px 0;">
            These extensions are hosted on <a href="http://plugins.atlassian.com">http://plugins.atlassian.com</a>.<br />
            To install an extension, <b>Download</b> it locally, then <b>Upload</b> it to Speakeasy. <br />
            You should consult the extension's page before installing - click <b>Learn More</b>.<br />
        </p>

        <div class="aui-message warning">
            <p class="title">These are not the extensions you're looking for!</p>
            <p>
                Yes - the items below are not extensions because extensions don't have a category on PAC yet.
                This is a proof of concept of accessing PAC via Javascript + REST + DropBox + YQL from within the browser. It's all very shiny, new and cool.
            </p>
            <p>
                When Speakeasy is released there will be a PAC extensions category per product. Those contents will show up
                below. We will also indicate which ones you already have installed etc.
            </p>
            <p>
                If you want to share extensions, for now please attach them to <a href="https://extranet.atlassian.com/x/pJrEbw">this EAC page</a>.
            </p>
        </div>
        
        <p id="loading"><img alt="waiting"
align="absmiddle" src="$staticResourcesPrefix/download/resources/com.atlassian.labs.speakeasy-plugin:shared/images/wait.gif" /> Loading available extensions from plugins.atlassian.com ..</p>

        <table class="aui" id="available-extensions-table">
        <thead>
            <tr>
                <th id="plugin-name">Name</th>
                <th id="plugin-author">Author</th>
                <th id="plugin-version">Version</th>
                <th id="action">Action</th>
            </tr>
        </thead>
        <tbody id="available-extensions-tableBody">

        </tbody>
        </table>
    </div>
    <div class="tabs-pane" id="horizontal-third">
        $jsdocRenderer.render()
    </div>
    #end
</div>

    <div id="speakeasy-loaded">Loading...</div>
<script type="text/javascript">
        require.run('speakeasy/user/user').initSpeakeasy();
</script>

</div>
