<div id="speakeasyUserMain">
<script type="text/javascript">
        var staticResourcesPrefix = "$staticResourcesPrefix";
        var contextPath = "$contextPath";
        var plugins = $plugins.renderJson;
        var currentUser = "$user";
        var product = "$product";
    </script>

    <script type="text/x-template" title="fork-dialog">
        <p>
            This will create a forked project for the plugin '{pluginKey}'.
            To use it:
        </p>
        <ol>
            <li>Unzip the file into an empty directory</li>
            <li>Start the target product with the plugin installed by running:
<pre>
mvn {product}:run
</pre></li>
            <li>Edit the plugin files, usually in <code>src/main/resources</code>, and refresh your browser
            to see the changes.</li>
        </ol>
        <a id="forkLink" href="{href}">Download</a>
    </script>

    <script type="text/x-template" title="ide-dialog">
        <link id="bespin_base" href="/refapp/download/resources/com.atlassian.labs.speakeasy-plugin:bespin/"/>

        <div id="header">
            <h1>Speakeasy Extension IDE (Highly Experimental)</h1>
        </div>

        <div id="content">
            <div id="sidebar">
                <b>inline-commenting.jar</b>
                <ul id="browser" class="filetree">
                </ul>
            </div>
            <div id="main-content">
                <div id="editor" class="bespin" data-bespinoptions='{ "stealFocus": true, "syntax": "html", "settings": { "tabstop": 4, "theme": "white" } }'></div>
            </div>
        </div>
    </script>

    <script type="text/x-template" title="uninstall">
        <a class="pk_uninstall" href="$contextPath/rest/speakeasy/1/plugins/{key}">Uninstall</a>
    </script>

    <script type="text/x-template" title="browser-leaf">
        <li><span class="{class}">{text}</span>{children}</li>
    </script>

    <script type="text/x-template" title="row">
        <tr data-pluginKey="{key}">
            <td headers="pluginName">{name}</td>
            <td headers="pluginDescription">{description}</td>
            <td headers="pluginAuthor">{author}</td>
            <td headers="pluginVersion">{version}</td>
            <td headers="pluginUsers">{numUsers}</td>
            <td headers="action">
                <a class="pk_enable_toggle" href="$contextPath/rest/speakeasy/1/user/{key}">{enableText}</a>
                {uninstall}
                <a class="pk_fork" href="javascript:void(0)" data-fork="$contextPath/rest/speakeasy/1/plugins/fork/{key}-fork.zip">Fork</a>
                <a class="pk_edit" href="$contextPath/rest/speakeasy/1/plugins/{key}/index">Edit</a>
            </td>
        </tr>
    </script>
<div id="aui-message-bar"> </div>

#if ($devmode && $installAllowed)
    <form id="uploadForm" action="$contextPath/rest/speakeasy/1/plugins" enctype="multipart/form-data" method="post">
        <label for="pluginFile">Install a plugin:</label> <input id="pluginFile" type="file" name="pluginFile" size="40">
    </form>
#end

<table class="aui" id="pluginsTable">
<thead>
    <tr>
        <th id="pluginName">Name</th>
        <th id="pluginDescription">Description</th>
        <th id="pluginAuthor">Author</th>
        <th id="pluginVersion">Version</th>
        <th id="pluginUsers">Users</th>
        <th id="action">Action</th>
    </tr>
</thead>
<tbody id="pluginsTableBody">

</tbody>
</table>
<script type="text/javascript">
        initSpeakeasy();
</script>
</div>
