<html>
<head>
    <meta name="decorator" content="atl.userprofile"/>
    <meta name="tab" content=""/>
    <title>Speakeasy Plugins</title>
    <script type="text/javascript">
        var staticResourcesPrefix = "$staticResourcesPrefix";
        var contextPath = "$contextPath";
        var plugins = $plugins.json;
        var currentUser = "$user";
    </script>
    <script type="text/x-template" title="uninstall">
        <a class="pk_uninstall" href="$contextPath/rest/speakeasy/1/plugins/{key}">
            Uninstall
        </a>
    </script>

    <script type="text/x-template" title="row">
        <tr data-pluginKey="{key}">
            <td headers="pluginName">{name}</td>
            <td headers="pluginDescription">{description}</td>
            <td headers="pluginAuthor">{author}</td>
            <td headers="pluginVersion">{version}</td>
            <td headers="action">
                <a class="pk_enable_toggle" href="$contextPath/rest/speakeasy/1/user/{key}">
                    {enableText}
                </a>
                {uninstall}
            </td>
        </tr>
    </script>
</head>
<body>
<h1>Speakeasy Plugins</h1>

<div id="aui-message-bar"> </div>

#if ($installAllowed)
<button id="plugin_upload_button">Upload a plugin</button>
#end

<table class="aui">
<thead id="pluginsTable">
    <tr>
        <th id="pluginName">Name</th>
        <th id="pluginDescription">Description</th>
        <th id="pluginAuthor">Author</th>
        <th id="pluginVersion">Version</th>
        <th id="action">Action</th>
    </tr>
</thead>
<tbody>

</tbody>
</table>
</body>
</html>